@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../src/assets/fonts/PlusJakartaSans-VariableFont_wght.woff2)
    format("woff2");
}
html,
body {
  background-color: var(--color-background);
}
:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
  --color-background: #fafbfc;
  --color-primary: #24292e;
  --color-primary-grey: #2b3137;
  --color-placeholder: #9da2ab;
  --color-accent-primary: #2dba4e;
  --color-accent-secondary: #d74e7;
}

.spinner {
  border: 4px solid var(--color-placeholder);
  border-top: 4px solid var(--color-accent-primary);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
