.searchInput {
  border: 1px solid var(--color-accent-primary);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-background);
  margin-bottom: 4rem;
}

.searchInput:focus {
  outline: var(--color-accent-primary) 2px solid;
}

.searchInput::placeholder {
  color: var(--color-placeholder);
}

.loading {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
